pandas
numpy
pyyaml
pytest
nameparser
scipy
networkx
ipykernel
openpyxl
xlrd
matplotlib
seaborn
click
mako
nbformat
xlsxwriter
typing_extensions==4.8.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.23.0
sentence_transformers
soundex
nicknames
textdistance